<h1>Welcome</h1>
<ul>
<li><%=link_to 'Create users', '/users/new'%> | <%=link_to 'Show / Edit / Destroy users', '/users'%>
</li>
<li><%=link_to 'Create groups', '/groups/new'%> | <%=link_to 'Show / Edit / Destroy groups', '/groups'%>
</li>
<li><%=link_to 'Create trips', '/trips'%> | <%=link_to 'Show / Edit / Destroy trips', '/all'%>
</li>
<li>
<%=link_to 'Create vehicles', '/vehicles/new'%> | <%=link_to 'Show / Edit / Destroy vehicles', '/vehicles'%>
</li>
<li><%=link_to 'Create locations', '/locations/new'%> | <%=link_to 'Show / Edit / Destroy locations', '/locations'%>
	</li>
<li><%=link_to 'Create reservations', '/reservations/new'%> | <%=link_to 'Show / Edit / Destroy reservations', '/reservations'%>
		</li>
</ul>







