<%=link_to "Return to Admin page", "/admin_view"%>


<h1>Editing user</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :myid %><br />
    <%= f.text_field :myid %>
  </p>
  <p>
    <%= f.label :password, 'Password' %><br />
    <%= f.password_field :password, :size=> 20 %>
  </p>
  <p>
    <%= f.label :password_confirmation, 'Confirm it!' %><br />
    <%= f.password_field :password_confirmation, :size=> 20 %>
  </p>
  <p>
    <%= f.label :user_fname %><br />
    <%= f.text_field :user_fname %>
  </p>
  <p>
    <%= f.label :user_lname %><br />
    <%= f.text_field :user_lname %>
  </p>
  <p>
    <%= f.label :user_email %><br />
    <%= f.text_field :user_email %>
  </p>
  <p>
    	<%=
			f.select :user_group,
						Group.find(:all).collect{ |g| [g.name, g.name]},
						:selected => @user.user_group
		%>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>