<h1>Admin Login</h1>
<%=form_tag :controller =>'users', :action =>'login'%>
  <%= flash[:error] %>

  

  <p>
    <br />
<%= label (:myid, 'myid')%>
    <%= text_field (:user,:myid) %>
  </p>
  <p>
<br /><%= label (:password,'password')%>
    <%= password_field(:user, :password, :size => 20)%>
  </p>
  <p>
    <%= submit_tag 'Login' %>
  </p>

<%= link_to 'Back', "/" %>
