<%=link_to "Return to User Index", "/users"%>


<p>
  <b>Myid:</b>
  <%=h @user.myid %>
</p>

<p>
  <b>User fname:</b>
  <%=h @user.user_fname %>
</p>

<p>
  <b>User lname:</b>
  <%=h @user.user_lname %>
</p>

<p>
  <b>User email:</b>
  <%=h @user.user_email %>
</p>

<p>
  <b>User group:</b>
  <%=h @user.user_group %>
</p>
<p>
    <b>Role:</b>
    <%=h @user.role%>
  </p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>