<%=link_to "Return to Admin page", "/admin_view"%>


<h1>Editing vehicle</h1>

<% form_for(@vehicle) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :vehicleID %><br />
    <%= f.text_field :vehicleID %>
  </p>
  <p>
    <%= f.label :year_made %><br />
    <%= f.text_field :year_made %>
  </p>
  <p>
    <%= f.label :make %><br />
    <%= f.text_field :make %>
  </p>
  <p>
    <%= f.label :model %><br />
    <%= f.text_field :model %>
  </p>
  <p>
    	<%= f.label 'Select Owner:'%>
		<%=
			f.select :owner,
						User::USER_GROUPS,
						:prompt =>"Select Owner: "
		%>
  </p>
  <p>
    <%= f.label :alias %><br />
    <%= f.text_field :alias %>
  </p>
  <p>
    <%= f.label :image_url %><br />
    <%= f.text_field :image_url %>
  </p>
<p>
    <%= f.label :parking_id %> ID:<br />
    <%= f.text_field :parking_id %>
  </p>
<p>
    <%= f.label :hows_my_driving %> my driving #:<br />
    <%= f.text_field :hows_my_driving %>
  </p>
  <p>
    <%= f.label :checked_out %><br />
    <%= f.text_field :checked_out %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
<%=render :partial=>'needs_attention'%>

<%= link_to 'Show', @vehicle %> |
<%= link_to 'Back', vehicles_path %>