<%=link_to "Return to Admin page", "/admin_view"%>

<p>
  <b>Building number:</b>
  <%=h @location.building_number %>
</p>

<p>
  <b>Name:</b>
  <%=h @location.name %>
</p>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>