<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>TRUCK CHECKOUT: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'skins/ie7-skin' %>
  <%= stylesheet_link_tag 'jquery.jcarousel' %>
  


  <%= javascript_include_tag :all %>

</head>
<body>
	<h5>TRUCK APP V. 17.1 Release Candidate X </h5>
	<%if session[:user_id]%>
	Logged in as <%=User.find_by_myid(session[:user_id]).user_fname%>
	<%end%>
	<div id="container">
	<% unless flash[:message].nil? %>
	<%= flash[:message]%>
	<%end%>
	<% unless flash[:error].nil? %>
	<%= flash[:error]%>
	<%end%>

	<% unless flash[:notice].nil? %>

<p style="color: green"><%= flash[:notice] %></p>
    <%end%>
<%= yield %>
	</div>
	<div id="footer">
	<h6>Powered by STS | <%=link_to_unless_current("HOME PAGE", "/", :style=>'font-size:16px')%> | <%if session[:user_id]%><%=link_to 'Logout', :controller=>'admin', :action=>'logout'%><%else%><%=link_to 'Admin Login', "/login"%><%end%></h6>
	</div>
	
</body>
</html>
